 * {
    font-family: monospace;
}

body {
    background-color: rgb(72, 72, 72);
}

p {
    color: antiquewhite;
}

button {
    border-color: antiquewhite;
    color: black;
}

h2 {
    color: antiquewhite;
}

.topBar p {
    float: right;
}

.container {
    padding: 20px;
}

.pressStart {
    margin-bottom: 0 auto;
}

main {
    background-color: rgb(180, 115, 240);
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.hide {
    display: none;
}